 /* ログイン画面 */
 .login-main {
  width: 260px;
}

.login-inner-frame{
  display: inline-block;
  width: 285px;
}

.login-area{
  padding: 15px;
  background: #FFF;
}

.login-area .input-area {
  margin-bottom: 10px;
}

.login-area + .login-area{
  margin-top: 5px;
}

.login-area input, .login-area button{
  width: 100%;
}

/* Navbar */
.bg-unilab{
  background-color: #CDFAD7;
}
.nabbar-position{
  padding: 0px 10px 0px 10px;
}
.nav-right{
  margin-left: auto;
}

.main-veiw{
  margin: 5px 5px 0px 5px;
}

.create-button-area{
  padding: 20px;
}

.form-table input, .form-table textarea{
  width: 100%;
}

.box-lab{
  border: 1px solid #e6eaea;
  padding: 15px 25px 10px;
}

.box-lab .upper{
  padding-bottom: 10px;
  border-bottom: dotted 1px #e6eaea;
  margin-bottom: 5px;
}
.box-lab .upper .title{
  max-width: 920px;
}

.box-lab .count{
  float: right;
}
